---
import Navigation from '@component/Navigation'
import type { LayoutProps } from '@types'

const {
  title = 'Portfolio',
  description = 'My portfolio is a website that not only informs about me, but also shows my skills.',
  navigationType = 'default',
  navigationStatus = true,
} = Astro.props as LayoutProps
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <script lang="ts">
      const theme = localStorage.getItem('theme') === 'dark'
      const systemTheme = !('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches

      if (theme || systemTheme) document.documentElement.classList.add('dark')
      else document.documentElement.classList.remove('dark')
    </script>
  </head>
  <body class="bg-white transition-colors duration-[85ms] dark:bg-black">
    <header>
      <Navigation status={navigationStatus} type={navigationType} client:load />
    </header>

    <main class="container m-auto mt-24 p-5 pt-3 text-black dark:text-white">
      <slot />
    </main>
  </body>
</html>
